/****************************************
  Global Selectors
*****************************************/

* {
	font-family: Open Sans;
}

.center-container {
	width: 1000px;
	margin: 0 auto;
}

.a-btn {
	padding: 9px 15px;
	border-radius: 3px;
	color: white;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.page > h1 {
	display: none;
}

.breadcrumb-list {
	display: none;
}

#widgets {
	display: none;
}

.post-edit {
	display: none;
}

.bio-container > p {
	display: none;
}


/****************************************
  Header
*****************************************/

header {
	height: 72px;
	width: 100vw;
	background-color: white;
	position: fixed;
	z-index: 100;
	border-bottom: 1px solid #d4d4d4;
}

.header-container {
	position: relative;
	top: 15px;
}

.header-container > a > img {
	position: relative;
	height: 40px;
	margin-right: 5px;
	padding: 7px;
	border-radius: 3px;
	top: -8px;
}

.header-container > a > img:hover {
	background-color: #B1C100;
}

/*Menu bars for mobile*/
.header-container > img {
	display: none;
}

.header-container nav {
	display: inline-block;
	position: absolute;
	top: 10px;
	width: 380px;
}

.header-container nav > div {
	position: absolute;
	display: none;
	top: 47px;
	left: 23px;
	width: 117px;
	border: 1px solid #d4d4d4;
	border-top: 3px solid #54C7E7;
}

.header-container nav > div > a {
	background-color: white;
	display: block;
	color: rgb(14, 121, 167);
	text-decoration: none;
	padding: 10px;
}

.header-container nav > a {
	color: rgb(14, 121, 167);
	text-decoration: none;
	margin-left: 24px;
	padding: 15px;
	border-radius: 5px;
}

.header-container nav a:hover {
	background-color: #B1C100;
}

.contact-login {
	float: right;
	position: relative;
	top: 12px;
	width: 260px;
	margin-right: -10px;
}

.contact-login > div {
	display: inline-block;
	color: #616264;
	font-size: 15px;
}

.contact-login > a {
	position: relative;
	text-decoration: none;
	top: -2px;
	color: white;
	background-color: #525355;
	border: 1px solid #525355;
	border-radius: 3px;
	padding: 5px 20px 8px 20px;
	margin-left: 15px;
	font-size: 13px;
}

.header-line-menu {
	display: none;
	background-color: white;
	text-decoration: none;
	background-color: rgb(0, 131, 180);
	position: absolute;
	border-radius: 3px;
	top: 128%;
    right: 0;
}

.header-line-menu > a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 10px;
	font-size: 20px;
}

.header-line-menu > a:hover{
	background-color: rgb(199, 212, 129);
}

.header-line-menu > a:nth-child(3){
	border-bottom: 1px solid gray;
}

.support-tab {
	background-color: #525355;
	height: 40px;
	width: 100px;
	position: fixed;
	top: 120px;
	left: -30px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	z-index: 2;
}

.support-tab > a {
	position: relative;
	color: white;
	text-decoration: none;
	top: 5px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

/****************************************
  Hero
*****************************************/

.hero {
	height: 102vh;
	background-image: url(//leavitt.md/wp-content/uploads/2015/05/WEB_hero_small.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hero-container {
	position: relative;
	top: 35%;
}

.hero-container > div:first-child {
	font-size: 40px;
	width: 620px;
	margin-bottom: 60px;
	color: white;
}

.hero-container > div:last-child a:first-child {
	background-color: #B1C100;
}

.hero-container > div:last-child a:last-child {
	background-color: #54C7E7;
}

.hero-container > div:last-child > * + * {
	margin-left: 10px;
}

/****************************************
  Main
*****************************************/

main {
	width: 100vw;
	margin-bottom: 220px;
}

.menu-container {
	margin-top: 100px;
	overflow: hidden;
	padding-bottom: 20px;
}

.menu-container > div:first-child {
	font-size: 40px;
	color: rgb(81, 198, 230);
	margin-bottom: 80px;
}

.menu-container > div:nth-child(2) {
	margin-bottom: 60px;
}

.menu-container .info-container {
	display: inline-block;
	width: 370px;
	overflow: hidden;
}

.info-container > img {
	float: left;
	height: 65px;
	width: 65px;
}


/*Patient and heart image selection*/
.menu-container > div:nth-child(2) > div:nth-child(3) > img {
	height: 70px;
	width: 70px;
}
/*Right containers*/
.info-container:nth-child(2), .info-container:nth-child(4) {
	margin-left: 90px;
}
/*Top containers*/
.info-container:nth-child(1), .info-container:nth-child(2) {
	margin-bottom: 55px;
}

.info-container > div{
	margin-left: 100px;
	margin-top: 10px;
	width: 250px;
	font-size: 15px;
	line-height: 25px;
}

.menu-container > a {
	background-color: #B1C100;
}

/****************************************
  Solutions Page
*****************************************/

.header-filler {
	height: 1px;
}

.solutions-main {
	position: relative;
	margin-top: 150px;
}

.solutions-container {
	margin-bottom: 170px;
}

.solutions-container > div:first-child {
	padding-bottom: 110px;
}

/*.solutions-container > div:last-child {
	margin-top: 110px;
}*/

	/****************************************
	  Solutions top
	*****************************************/

	.solutions-description-top {
		display: inline-block;
		width: 390px;
		line-height: 31px;
		font-size: 21px;
		position: relative;
		top: -20px;
	}
	
	.solutions-description-top  > div:first-child {
		margin-bottom: 40px;
	}

	.solutions-description-top  > * + * {
		margin-top: 20px;
	}

	.solutions-description-top > div:first-child {
		color: rgb(175, 192, 0);
		font-size: 40px;
	}

	.solutions-description-top > div:nth-child(3) {
		color: rgb(86, 199, 230);
	}

	.solutions-image-container-top {
		display: inline-block;
		position: relative;
		top: 42px;
	}

	.solutions-image-container-top > img{
		height: 320px;
		width: 570px;
		margin-left: 30px;
	}

	.solutions-image-container-top p {
		font-size: 13px;
		margin-left: 165px;
	}

	/****************************************
	  Solutions Bottom
	*****************************************/

	.solutions-description-bottom {
		display: inline-block;
		width: 421px;
		font-size: 21px;
		line-height: 31px;
		position: relative;
		margin-left: 95px;
		top: -105px;
	}

	.solutions-description-bottom  > div:first-child {
		margin-bottom: 40px;
	}

	.solutions-description-bottom  > * + * {
		margin-top: 20px;
	}

	.solutions-description-bottom > div:first-child {
		color: rgb(175, 192, 0);
		font-size: 41px;
	}

	.solutions-description-bottom > div:nth-child(3) {
		color: rgb(86, 199, 230);
	}

	.solutions-image-container-bottom {
		display: inline-block;
		position: relative;
		top: -15px;
		left: -15px;
	}

	.solutions-image-container-bottom > img{
		height: 380px;
		width: 410px;
	}

	.ipad-image {
		width: 450px;
		position: relative;
		margin-left: 500px;
		margin-top: -70px;
	}


/****************************************
  Our Team
*****************************************/

.team-lightbox{
	display: none
}

.our-team-container {
	margin-top: 150px;
	margin-bottom: 150px;
}

.our-team-container > div:first-child {
	color: rgb(84, 199, 231);
	font-size: 40px;
	margin-bottom: 80px;
}

.bio-container {
	display: inline-block;
	overflow: hidden;
	width: 870px;
	margin-bottom: 100px;
}

.bio-container img {
	float: left;
	height: 250px;
	border-radius: 3px;
}

.bio-text-description-container {
	margin-left: 220px;
}

.position-title {
	margin-bottom: 20px;
}

.more-about-btn {
	display: none;
}

.bio-text-description-container > div:first-child {
	color: rgb(29, 117, 165);
	font-size: 20px;
	margin-bottom: 3px;
}

.bio-text-description-container > .paragraph {
	margin-bottom: 20px;
}


/****************************************
  Support
*****************************************/

.support-container {
	margin-top: 150px;
	margin-bottom: 150px;
}

.support-container > div:first-child {
	color: rgb(84, 199, 231);
	font-size: 40px;
	margin-bottom: 80px;
}

.support-container > div:nth-child(2) {
	background-color: #B1C100;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
}

.support-container > div:nth-child(2):hover {
	cursor: pointer;
}

.videos-container {
	display: none;
	margin-top: 50px;
}

.videos-container > iframe {
	margin: 20px;
}

.videos-container > iframe:nth-child(1){
	margin-left: 0px;
}

.videos-container > iframe:nth-child(3) {
	margin-left: 0;
}

/****************************************
  Contact
*****************************************/

#alert {
	display: none;
	position: fixed;
	top: 50%;
	margin-top: -100px;
	right: 50%;
	margin-right: -200px;
	height: 200px;
	width: 400px;
	background-color: rgba(0,153,0,1);
	border-radius: 15px;
	color: white;
	z-index: 100;
}

#alert > div {
	position: relative;
	top: 50%;
	margin-top: -12px;
	font-size: 24px;
	text-align: center;
}

#feedback-form  {
	margin-left: -7px;
}

.contact-container {
	margin-top: 160px;
	margin-bottom: 203px;
	width: 982px;
}

.contact-container > div:first-child {
	color: rgb(2, 112, 160);
	font-size: 40px;
	margin-bottom: 50px;
	margin-left: -5px;
}

.contact-container .address {
	margin-left: -5px;
	margin-bottom: 60px;
}

.contact-container > div:nth-child(3) {
	color: rgb(14, 114, 163);
	margin-left: -5px;
	margin-bottom: 20px;
	font-weight: bold;
}

.contact-container .address > div:first-child {
	margin-left: 0px;
}

form label {
	display: inline-block;
	position: absolute;
	padding: 2px 0 0 5px;
}

form input {
	margin-top: 28px;
	margin-left: 5px;
	width: 600px;
	height: 30px;
}

form {
	width: 600px;
}

form > div {
	display: inline-block;
	height: 65px;
	width: 287px;
	border: 1px solid rgb(166, 166, 166);
	margin-left: -5px;
	margin-top: -1px;
}

form .message {
	width: 575px;
	height: 175px;
}

textarea {
	height: 143px;
	width: 600px;
	border: 1px solid #d4d4d4;
	margin-top: 28px;
	resize: none;
}

form #dropbox_submit {
	border-radius: 3px;
	border: none;
	padding: 9px 20px;
	height: initial;
	width: initial;
	background-color: rgb(84, 199, 231);
	color: white;
	margin-left: initial;
	margin-top: 40px;
}

/****************************************
  Footer
*****************************************/

footer {
	position: relative;
	right: 0;
	left: 0;
	bottom: 50px;
}

.footer-container {
	padding-top: 30px;
	border-top: 1px solid #d4d4d4;
}

.footer-container > img {
	top: -25px;
	height: 50px;
	position: relative;
}

.footer-container > div {
	display: inline-block;
	width: 160px;
	margin-left: 70px;
	line-height: 30px;
}






/****************************************
  









Responsive CSS











*****************************************/



@media (min-width: 880px) and (max-width: 1025px) {

 	.header-container {
 		width: 100vw;
 	}

 	/*Menu bars for mobile*/
	.header-container > img {
		display: none;
	}

 	.contact-login {
		margin-right: 10px;
	}

	.hero {
		background-image: url(//leavitt.md/wp-content/uploads/2015/05/WEB_hero_small.jpg);
	}

 	.center-container {
 		width: 860px;
 		margin-left: 70px;
 	}

 	.solutions-image-container-top {
		display: inline-block;
		position: relative;
		top: initial;
	}

	.solutions-image-container-top > img{
		height: 240px;
		width: initial;
		margin-left: 20px;
	}

	.solutions-image-container-top p {
		font-size: 13px;
		margin-left: 80px;
	}

	.solutions-image-container-bottom > img{
		height: 300px;
		width: 330px;
	}
	
	.solutions-description-bottom {
		top: -45px;
	}

	.ipad-image {
		width: 350px;
		position: relative;
		margin-left: 450px;
		margin-top: -70px;
	}

	.bio-container {
		width: 98vw;
	}
}

@media (min-width: 670px) and (max-width: 880px) {

	/****************************************
	  Global
	*****************************************/
	
	.center-container {
 		margin-left: 8px;
 		width: 97vw;
 	}

	/****************************************
	  Header
	*****************************************/
	
	.header-container {
 		width: 100vw;
 	}

 	.header-container img {
		margin-right: 16px;
	}

	/*Menu bars for mobile*/
	.header-container > img {
		display: none;
	}

	.header-container nav > a {
		margin-left: 20px;
	}
	.header-container nav > div {
		left: 23px;
	}
 	
 	.contact-login {
		width: 180px;
		top: 10px;
		margin-right: initial;
	}

	.contact-login > div {
		display: none;
	}

	/****************************************
	  Hero
	*****************************************/
	.hero {
		background-image: url(//leavitt.md/wp-content/uploads/2015/05/WEB_hero_small.jpg);
	}
	
	.hero-container {
		position: relative;
		top: 25%;
	}
	.hero-container > div:first-child {
		width: 565px;
	}

	.hero-container .a-btn {
		/*position: absolute;*/
	}

	/****************************************
	  Main/Index
	*****************************************/

	main {
		height: initial;
		margin-bottom: 100px;
	}

	.menu-container {
		margin-top: 50px;
	}

	.menu-container > div:nth-child(2) {
	  margin-bottom: 50px;
	}

	.menu-container > div:first-child {
		margin-bottom: 20px;
	}

	.menu-container .info-container {
		margin-top: 30px;
		width: 100vw;
	}

	.info-container > div {
		width: 470px;
 		font-size: 30px;
 		line-height: initial;
 		margin-left: 140px;
 		margin-top: initial;
	}

	.info-container > img {
		height: 100px;
		width: 100px;
	}

	/*Patient and heart image selection*/
	.menu-container > div:nth-child(2) > div:nth-child(3) > img {
		height: 100px;
		width: 100px;
	}
	
	/*Right containers*/
	.info-container:nth-child(2), .info-container:nth-child(4) {
		margin-left: initial;
	}
	/*Top containers*/
	.info-container:nth-child(1), .info-container:nth-child(2) {
		margin-bottom: initial;
	}

	/****************************************
	  Solutions Page
	*****************************************/
	
	.solutions-container {
    	margin-bottom: 200px;
    }

	.solutions-description-bottom {
		top: -15px;
		width: 321px;
		margin-left: 25px;
	}
	
	.solutions-description-top {
		width: 310px;
	}

	.solutions-image-container-top {
		top: 0px;
		float: right;
	}

	.ipad-image {
		width: 280px;
		margin-left: 325px;
		margin-top: 0px;
	}

	.solutions-container > div:first-child {
		padding-bottom: 70px;
	}

	.solutions-image-container-top > p {
		margin-left: initial;
		font-size: 12px;
	}

	.solutions-image-container-top > img {
		width: initial;
		height: 180px;
		margin-left: initial;
	}

	.solutions-image-container-bottom {
		top: -80px;
	}

	.solutions-image-container-bottom > img {
		width: initial;
		height: 260px;
		margin-left: 8px;
	}

	/****************************************
	  Our Team
	*****************************************/

	.bio-container {
		width: 98vw;
	}

	/****************************************
	  Contact Us
	*****************************************/

	.contact-container {
		margin-left: 15px;
	}

}

@media (min-width: 354px) and (max-width: 670px) {
	/****************************************
	  Global
	*****************************************/
	
	.center-container {
 		margin-left: initial;
 		width: 97vw;
 	}

	/****************************************
	  Header
	*****************************************/
	
	.header-container {
 		width: 100vw;
 	}

 	.header-container img {
		margin-right: 5px;
	}

	/*Menu bars for mobile*/
	.header-container > img {
		display: initial;
		position: relative;
		height: 50px;
		float: right;
		margin-right: 20px;
		margin-top: -4px;
		cursor: pointer;
	}

	.header-container > nav {
		display: none;
	}

	.header-container nav a{
		display: none;
	}

	/*Class is toggled for showing nav menu in mobile view*/
	.show {
		display: initial;
	}

	.header-container > .contact-login {
		display: none;
		right: -125px;
		bottom: -100px;
		position: absolute;
		top: initial;
		margin-right: initial;
	}

	.contact-login > a {
		margin-right: 0;
		position: relative;
		text-decoration: none;
		top: -2px;
		color: initial;
		border: initial;
		border-radius: 0;
		padding: initial;
		margin-left: 0;
		font-size: initial;
	}

	.contact-login > div {
		display: none;
	}

	.support-tab {
		display: none;
	}

	/****************************************
	  Hero
	*****************************************/
	.hero {
		background-image: url(//leavitt.md/wp-content/uploads/2015/05/WEB_hero_extra_small.jpg);
	}
	
	.hero-container {
		position: relative;
		top: 25%;
		margin-left: 8px;
	}
	.hero-container > div:first-child {
		width: 100%;
		font-size: 30px;
	}

	/****************************************
	  Main
	*****************************************/

	main {
		height: initial;
		margin-bottom: 100px;
	}

	.menu-container {
		margin-top: 50px;
		margin-left: 8px;
	}

	.menu-container > div:nth-child(2) {
	  margin-bottom: 50px;
	}

	.menu-container > div:first-child {
		margin-bottom: 20px;
		font-size: 29px;
	}

	.menu-container .info-container {
		margin-top: 30px;
		width: 100vw;
	}

	.info-container > div {
		width: 70%;
 		font-size: 15px;
 		line-height: initial;
 		margin-left: 80px;
 		margin-top: initial;
	}
	
	.info-container > img {
		height: 50px;
		width: 50px;
	}

	/*Patient and heart image selection on home page*/
	.menu-container > div:nth-child(2) > div:nth-child(3) > img {
		height: 50px;
		width: 50px;
	}
	
	.info-container:nth-child(2), .info-container:nth-child(4) {
		margin-left: initial;
	}

	.info-container:nth-child(1), .info-container:nth-child(2) {
		margin-bottom: initial;
	}

	/****************************************
	  Solutions
	*****************************************/
	

	.solutions-container {
		margin-bottom: 150px;
		margin-left: 8px;
	}

	.solutions-container > div:first-child {
		padding-bottom: 80px;
		border-bottom: 1px solid #d4d4d4;
	}

	.solutions-description-top {
		width: initial;
	}

	.solutions-image-container-top {
		width: 97vw;
		left: -4px;
	}

	.solutions-image-container-top > img {
		height: 160px;
		width: 90%;
		margin-left: initial;
	}

	.solutions-image-container-top > p {
		margin-left: initial;
		font-size: 12px;
		text-align: center;
	}

	.solutions-container > div:last-child {
		margin-top: 30px;
	}

	.solutions-image-container-bottom {
		top: 50px;
		left: initial;
	}

	.solutions-image-container-bottom > img {
		height: 90%;
		width: 93%;
	}

	.solutions-description-bottom {
		width: initial;
		margin-left: initial;
		top: initial;
	}

	.ipad-image {
		width: 98%;
		margin-left: initial;
		margin-top: 10px;
	}

	/****************************************
	  Our Team
	*****************************************/
	

	.our-team-container > div:first-child {
		font-size: 35px;
		margin-bottom: 50px;
		margin-left: 8px;
	}

	.our-team-container {
		margin-top: 100px;
	}

	.bio-container {
		width: 100vw;
	}

	.bio-container img {
		height: 200px;
  		border-radius: 2px;
	}

	.position-title {
		display: block;
		text-align: center;
	}

	.team-lightbox {
		background-color: #C7D481;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 100;
	}

	.team-lightbox > div:first-child {
		position: relative;
		float: right;
		top: 5px;
		margin-right: 11px;
		font-size: 20px;
	}

	.team-lightbox > div:nth-child(2) {
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: bold;
	}

	.team-lightbox > * + * {
		width: 93vw;
		margin-bottom: 20px;
		margin-left: 5px;
		font-size: 14px;
	}

	.bio-text-description-container > * + * {
		display: none;
	}

	.more-about-btn {
		display: inline-block;
		padding: 8px;
		background-color: #B1C100;
		position: relative;
		top: 96px;
		border-radius: 3px;
		width: 120px;
		text-align: center;
		left: 50%;
		margin-left: -63px;
		cursor: pointer;
	}

	.position-title {
		display: block;
		text-align: center;
	}

	.bio-text-description-container {
		margin-left: 140px;
	}

	.bio-text-description-container > div:first-child {
		font-size: 15px;
		font-weight: bold;
		text-align: center;
	}

	/****************************************
	  Contact Us
	*****************************************/
	#alert > div {
		font-size: 20px;
	}

	.address {
		display: none;
	}

	.contact-container {
		margin-top: 100px;
		margin-left: 8px;
	}

	form {
		width: 98vw;
	}

	fieldset {
		width: 91vw;
	}

	form label {
		padding: initial;
		margin-left: -5px;
	}

	form input {
		width: 88vw;
	}

	textarea {
		width: 90vw;
	}

	/****************************************
	  Footer
	*****************************************/

	.footer-container > div > span {
		font-weight: bold;
		font-size: initial;
	}

	.footer-container > div {
		text-align: center;
		font-size: 12px;
		line-height: initial;
		position: relative;
		float: right;
	}

	.footer-container > img {
		height: 44px;
		top: 55px;
	}
}


@media (min-width: 0px) and (max-width: 354px) {
	/****************************************
	  Global
	*****************************************/
	
	.center-container {
 		margin-left: initial;
 		width: 97vw;
 	}

	/****************************************
	  Header
	*****************************************/
	
	.header-container {
 		width: 100vw;
 	}

 	.header-container img {
		margin-right: 5px;
	}

	/*Menu bars for mobile*/
	.header-container > img {
		display: initial;
		position: relative;
		height: 50px;
		float: right;
		margin-right: 20px;
		margin-top: -4px;
		cursor: pointer;
	}

	.header-container > nav {
		display: none;
	}

	.header-container nav a{
		display: none;
	}

	/*Class is toggled for showing nav menu in mobile view*/
	.show {
		display: initial;
	}

	.header-container > .contact-login {
		display: none;
		right: -125px;
		bottom: -100px;
		position: absolute;
		top: initial;
		margin-right: initial;
	}

	.contact-login > a {
		margin-right: 0;
		position: relative;
		text-decoration: none;
		top: -2px;
		color: initial;
		border: initial;
		border-radius: 0;
		padding: initial;
		margin-left: 0;
		font-size: initial;
	}

	.contact-login > div {
		display: none;
	}

	.support-tab {
		display: none;
	}

	/****************************************
	  Hero
	*****************************************/
	.hero {
		background-image: url(//leavitt.md/wp-content/uploads/2015/05/WEB_hero_extra_small.jpg);
	}
	
	.hero-container {
		position: relative;
		top: 25%;
		margin-left: 8px;
	}
	.hero-container > div:first-child {
		width: 100%;
		font-size: 30px;
	}

	/****************************************
	  Main
	*****************************************/

	main {
		height: initial;
		margin-bottom: 100px;
	}

	.menu-container {
		margin-top: 50px;
		margin-left: 8px;
	}

	.menu-container > div:nth-child(2) {
	  margin-bottom: 50px;
	}

	.menu-container > div:first-child {
		margin-bottom: 20px;
		font-size: 29px;
	}

	.menu-container .info-container {
		margin-top: 30px;
		width: 100vw;
	}

	.info-container > div {
		width: 70%;
 		font-size: 15px;
 		line-height: initial;
 		margin-left: 80px;
 		margin-top: initial;
	}
	
	.info-container > img {
		height: 50px;
		width: 50px;
	}

	/*Patient and heart image selection on home page*/
	.menu-container > div:nth-child(2) > div:nth-child(3) > img {
		height: 50px;
		width: 50px;
	}
	
	.info-container:nth-child(2), .info-container:nth-child(4) {
		margin-left: initial;
	}

	.info-container:nth-child(1), .info-container:nth-child(2) {
		margin-bottom: initial;
	}

	/****************************************
	  Solutions
	*****************************************/
	

	.solutions-container {
		margin-bottom: 150px;
		margin-left: 8px;
	}

	.solutions-container > div:first-child {
		padding-bottom: 80px;
		border-bottom: 1px solid #d4d4d4;
	}

	.solutions-description-top {
		width: initial;
	}

	.solutions-image-container-top {
		width: 97vw;
		left: -4px;
	}

	.solutions-image-container-top > img {
		height: 160px;
		width: 90%;
		margin-left: initial;
	}

	.solutions-image-container-top > p {
		margin-left: initial;
		font-size: 12px;
		text-align: center;
	}

	.solutions-container > div:last-child {
		margin-top: 30px;
	}

	.solutions-image-container-bottom {
		top: 50px;
		left: initial;
	}

	.solutions-image-container-bottom > img {
		height: 90%;
		width: 93%;
	}

	.solutions-description-bottom {
		width: initial;
		margin-left: initial;
		top: initial;
	}

	.ipad-image {
		width: 98%;
		margin-left: initial;
		margin-top: 10px;
	}

	/****************************************
	  Our Team
	*****************************************/
	

	.our-team-container > div:first-child {
		font-size: 35px;
		margin-bottom: 50px;
		margin-left: 8px;
	}

	.our-team-container {
		margin-top: 100px;
	}

	.bio-container {
		width: 100vw;
	}

	.bio-container img {
		height: 200px;
  		border-radius: 2px;
	}

	.position-title {
		display: block;
		text-align: center;
	}

	.team-lightbox {
		background-color: #C7D481;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 100;
	}

	.team-lightbox > div:first-child {
		position: relative;
		float: right;
		top: 5px;
		margin-right: 11px;
		font-size: 20px;
	}

	.team-lightbox > div:nth-child(2) {
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: bold;
	}

	.team-lightbox > * + * {
		width: 93vw;
		margin-bottom: 20px;
		margin-left: 5px;
		font-size: 14px;
	}

	.bio-text-description-container > * + * {
		display: none;
	}

	.more-about-btn {
		display: inline-block;
		padding: 8px;
		background-color: #B1C100;
		position: relative;
		top: 96px;
		border-radius: 3px;
		width: 120px;
		text-align: center;
		left: 50%;
		margin-left: -63px;
		cursor: pointer;
	}
	.mark-more-btn {
		top: 75px;
	}

	.andy-more-btn {
		top: 75px;
	}

	.position-title {
		display: block;
		text-align: center;
	}

	.bio-text-description-container {
		margin-left: 140px;
	}

	.bio-text-description-container > div:first-child {
		font-size: 15px;
		font-weight: bold;
		text-align: center;
	}

	/****************************************
	  Contact Us
	*****************************************/

	#alert > div {
		font-size: 20px;
	}

	.address {
		display: none;
	}

	.contact-container {
		margin-top: 100px;
		margin-left: 8px;
	}

	form {
		width: 98vw;
	}

	fieldset {
		width: 91vw;
	}

	form label {
		padding: initial;
		margin-left: -5px;
	}

	form input {
		width: 88vw;
	}

	textarea {
		width: 90vw;
	}

	/****************************************
	  Footer
	*****************************************/

	.footer-container > div > span {
		font-weight: bold;
		font-size: initial;
	}

	.footer-container > div {
		text-align: center;
		font-size: 12px;
		line-height: initial;
		position: relative;
		float: right;
		margin-left: 23px;
	}

	.footer-container > img {
		height: 44px;
		top: 55px;
	}
}